/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Estilo para la sección de información del sitio */
#info-sitio {
  background-color: #003366;
  color: white;
  padding: 20px 0;
  margin-bottom: 40px;
}

#info-sitio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#bandera img {
  width: 5px; /* Ajusta el tamaño de la bandera */
  height: auto;
  margin-right: 10px;
  
}

#mensaje h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#mensaje p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Barra de navegación */
nav {
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007BFF;
}

/* Posicionamiento del widget de Google Translate */
#google_translate_element {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Sección principal */
main {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  margin-bottom: 30px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.highlighted {
  margin-top: 40px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.card h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
}

/* Pie de página */
footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
